.layout-notification
  = @users
  .chat-group-form
    %h1  チャットグループ編集
    = form_for(@group, html: {class: "edit_chat_group", id: ""}) do |f|
      = render partial: 'common/error', locals: { error: @group.errors }

      .chat-group-form__field
        .chat-group-form__field--left
          = f.label :グループ名, class: 'chat-group-form__label', for: 'group_name'
        .chat-group-form__field--right
          = f.text_field :group_name, placeholder: '', class: 'chat-group-form__input', id:'group_name'
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label :チャットメンバーを追加, class: 'chat-group-form__label', for: 'user_name'
        .chat-group-form__field--right
          = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
            = b.label { b.check_box + b.text }
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label :チャットメンバー, class: 'chat-group-form__label'
        .chat-group-form__field--right
          .chat-group-users
            .chat-group-user
              %p.chat-group-user__name
                norika
      .chat-group-form__field
        .chat-group-form__field--right
        .chat-group-form__field--right
          = f.submit "Save", class: "chat-group-form__action-btn"
