.chat
  .chat__left
    .chat__left__user
      %h5
        = current_user.name
      .chat__left__user__actions
        = link_to '', new_group_path, class: "fa fa-edit icon-edit"
        = link_to '', edit_user_registration_path(current_user), class: "fa fa-cog icon-cog"
    = render partial: "groups/chat_left_group", locals: {group_name: current_user.groups}
  .chat__main
    .chat__main__header
      %h2
        = @group.group_name
      .chat__main__header__right
        = link_to 'Edit', edit_group_path(), class: "editbutton"
      %div.chat__main__header__right__member
        %p.chat__main__header__right__member__label Member:
        - @group.users.each do |user|
          %p.chat__main__header__right__member__label__members
            = user.name

    .chat__main__body
      %ul.chat__main__body__messages
        = render partial: "groups/messages", locals: {messages: @messages}

    .chat__main__footer
      .chat__main__footer__form
        .chat__mail__footer__form__body
          = form_for @message, url: messages_path do |f|
            = f.text_area :body, placeholder: 'type a massage',rows: 1, id: "message-body"
            = f.hidden_field :user_id, value: current_user.id
            %label
              .chat__main__footer__form__body__label
              %i.fa.fa-photo.icon-photo
            = f.submit "Send", data: { disable_with: "Sending..."}

