.chat
  .chat__left
    .chat__left__user
      %h5
        = current_user.name
      .chat__left__user__actions
        = link_to '', new_group_path, class: "fa fa-edit icon-edit"
        = link_to '', edit_user_registration_path(current_user), class: "fa fa-cog icon-cog"
    = render partial: "groups/chat_left_group", locals: {group_name: current_user.groups}
  .chat__main
    .chat__main__header
      %h2
        = @group.group_name
      .chat__main__header__right
        = link_to 'Edit', edit_group_path(), class: "editbutton"
      %div.chat__main__header__right__member
        %p.chat__main__header__right__member__label 
          Member:
          = render partial: "member", locals: { member: @group.users }

    .chat__main__body
      %ul.chat__main__body__messages.js_message
        = render @messages

    .chat__main__footer
      .chat__main__footer__form
        .chat__mail__footer__form__body
          = form_for @message, html: { class: 'form js-form' } do |f|
            = f.text_area :body, placeholder: 'type a massage',rows: 1, id: "message-body",class: 'form__text-area js-form__text-area'
            = f.hidden_field :user_id, value: current_user.id
            %label
              .chat__main__footer__form__body__label
              %i.fa.fa-photo.icon-photo
            = f.submit "Send",id: 'submit'

